---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Counter from "../components/Counter";
import pingwind from "../assets/pingwind.jpg";
import { Image } from "astro:assets";
---

<Layout title="Welcome to Astro.">
  <main class="container flex flex-col gap-8 p-10">
    <Image
      src={pingwind}
      alt="Pinguin on a rock"
      width={800}
      class="object-cover rounded-xl shadow-xl"
    />
    <h1 class="text-2xl font-bold">
      Welcome to <span class="text-orange font-black">Pingwind</span>!
    </h1>
    <p>
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Pingwind" message above.
    </p>
    <h2 class="text-lg font-bold">Counter with SolidJS</h2>
    <Counter client:load />
    <ul role="list" class="flex flex-row gap-5 flex-wrap">
      <Card
        href="https://docs.astro.build/"
        title="Astro docs"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://solidjs.com"
        title="SolidJS docs"
        body="Explore the official SolidJS docs."
      />
      <Card
        href="https://daisyui.com/docs/themes/"
        title="DasiyUI Themes"
        body="Explore starter themes."
      />
      <Card
        href="https://unocss.dev"
        title="UnoCSS docs"
        body="Explore the official Unocss docs."
      />
    </ul>
  </main>
</Layout>
