---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="card bg-base-200 max-w-150">
  <a class="card-body" href={href}>
    <h2 class="card-title">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="btn btn-outline">
      {body}
    </p>
  </a>
</li>
